.colors {
    border: 3px dashed red;
}

.colors div {
    height: 50px;
}

.color1 { 
    background: #EEE2DF;
}

.color2 { 
    background: #EED7C5;
}

.color3 { 
    background: #C89F9C;
}

.color4 { 
    background: #C97C5D;
}

.color5 { 
    background: #B36A5E;
}